/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

body {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.time-picker {
  text-align: center;

  .form-control {
    display: inline-block;
    width: 3em;
    text-align: center;
  }

  span.seperator {
    display: inline-block;
    width: 1em;
    text-align: center;
  }
}

.feeding-type-picker {
  label {
    margin-right: 10px;
  }
}

.btn-group label.btn {
  color: #000;
  background-color: #ddd;
}

.btn-group label.btn.active {
  color: #fff;
  background: #868e96;
}

.form-group.form-submit {
  .btn {
    width: 50%;
  }
}

table.last-times {
  width: 100%;
  th, td {
    padding: 5px 10px;
  }
  th {
    background: #ddd;
  }
}
